{% extends 'base-front.html.twig' %}


{% block content %}
    <section class="section breadcrumb-section" style="background-image: url({{ asset('front/images/image-10-1920x232.jpg') }})">
        <div class="container">
            <h2 class="breadcrumb-section-title">News 1</h2>
            <!-- Breadcrumb-->
            <div class="breadcrumb">
                <div class="breadcrumb-inner">
                    <div class="breadcrumb-item"><a class="breadcrumb-link" href="index.html">Home</a></div>
                    <div class="breadcrumb-item"><a class="breadcrumb-link" href="#">News</a></div>
                    <div class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">News 1</span></div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-md bg-transparent">
        <div class="container">
            <h3>Liste des cours</h3>

            <div class="row">
                {% for n in cours %}
                    <div class="col-md-3" style="margin-bottom: 40px">
                        <!-- Post-->
                        <div class="post post-classic"><a class="post-media" href="#"><img class="post-img" src="{{ asset('uploads/' ~ n.image) }}" alt="" style="width: 200px;height: 200px; object-fit: cover">
                                <div class="post-tag tag tag-secondary">News</div></a>
                            <div class="post-body">
                                <div class="post-title h4"><a href="#"><span>{{ n.nom }}</span></a></div>
                                <div class="post-text">{{ n.categorie }}</div>
                                <div class="post-meta">
                                    <div class="post-date">{{ n.niveau }}</div>
                                </div>
                            </div>
                            <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#updateModal" style="margin-right: 10px"><i class="nc-icon nc-settings"></i></button>
                        </div>

                    </div>

                {% endfor %}
            </div>
        </div>
        </div>
    </section>



{% endblock %}