{% extends 'base.html.twig' %}


{% block body %}


    <div class="content">
        <div style="display: flex; align-items: center; justify-content: space-between">
            <h1 style="margin-right: 20px">Liste des Cours</h1>
            <button data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-outline-success" style="width: 100px"><i class="nc-icon nc-simple-add" style="font-size: 28px"></i></button>
        </div>
        <div style="margin-left: 200px">

            <script src="{{ asset('back/js/jquery.min.js') }}"></script>
            <center><input type="text" id="search" placeholder="CHERCHER Cours..."></center>

        </div>

        <br>
        <table class="table table-bordered dataTable" id="tableac" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
            <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Nom</th>
                <th scope="col">Categorie</th>
                <th scope="col">Niveau</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>


            <tr {% for n in cours %}>
                <td> <img style="width: 100px" src="{{ asset('uploads/' ~ n.image) }}"> </td>
                <td >{{ n.nom}}</td>
                <td >{{ n.categorie }}</td>
                <td>{{ n.niveau }}</td>
                <td><div style="display: flex">

                        <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#updateModal{{ n.id }}" style="margin-right: 10px"><i class="nc-icon nc-settings"></i></button>

                        <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ n.id }}"><i class="nc-icon nc-simple-delete"></i></button>

                    </div>
                </td>
            </tr>
            <script>
                $(document).ready(function(){
                    $('#search').keyup(function(){
                        search_table($(this).val());
                    });
                    function search_table(value){
                        $('#tableac tbody tr').each(function(){
                            var found = 'false';
                            $(this).each(function(){
                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                {
                                    found = 'true';
                                }
                            });
                            if(found == 'true')
                            {
                                $(this).show();

                            }
                            else
                            {
                                $(this).hide();

                            }
                        });
                    }
                });
            </script>


            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal{{ n.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <br>
                            <h5 class="modal-title" id="exampleModalLabel">Voulez vous supprimer le cours {{ n.nom }}</h5>
                            <br>
                            <div style="text-align: center">
                                <a type="button" href="{{ path('delete_cours', {'id':n.id}) }}" class="btn btn-danger">Supprimer</a>
                                <a type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</a>
                            </div>
                            <br>
                        </div>

                    </div>
                </div>
            </div>


            <!--  Update Modal -->
            <div class="modal fade" id="updateModal{{ n.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form method="post" action="{{ path('update_cours', {'id':n.id}) }}" enctype="multipart/form-data">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modifier Cours </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <br>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form__label">Photo du couverture</label>
                                        <input type="file" name="image" class="form-control">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form__label">Nom</label>
                                        <input type="text" maxlength="30" name="nom" value="{{ n.nom }}" class="form-control">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form__label">Categorie</label>
                                        <input type="text" min="1" max="99" name="categorie" value="{{ n.categorie }}" class="form-control">
                                    </div>
                                </div>
                                <br>

                                <br>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form__label">Niveau</label>
                                        <textarea name="niveau" class="form-control">{{ n.niveau }}</textarea>
                                    </div>
                                </div>
                                <br>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Modifier</button>
                                    <button type="button" class="btn btn-secondary">Fermer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                {% endfor %}
            </div>
            </tbody>

        </table>
    </div>


    <!-- Add Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                {{ form_start(form, {'attr': {'enctype':'multipart/form-data'}}) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un nouveau cours</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <br>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="form__label">Photo du Cours</label>
                            {{ form_widget(form.image, {'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="form__label">Nom</label>
                            {{ form_widget(form.nom, {'attr': {'placeholder': 'Nom  cours', 'class':'form-control', 'type':'text'}}) }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="form__label">Categorie</label>
                            {{ form_widget(form.categorie, {'attr': {'placeholder': 'Categorie cours', 'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-md-12">
                            <label class="form__label">Niveau</label>
                            {{ form_widget(form.niveau, {'attr': {'placeholder': 'Niveau cours', 'class':'form-control', 'type':'text'}}) }}
                        </div>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}
