{% extends 'base.html.twig' %}


{% block body %}

    <div class="content">
        <div style="display: flex; align-items: center; justify-content: space-between">
            <h1 style="margin-right: 20px">Liste des exercices</h1>
            <div style="margin-left: 200px">


                <script src="{{ asset('back/js/jquery.min.js') }}"></script>
                <center><input type="text" id="search" placeholder="CHERCHER Exercice..."></center>

            </div>
            <button data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-outline-success" style="width: 100px"><i class="nc-icon nc-simple-add" style="font-size: 28px"></i></button>
        </div>
        <br>


        <br>
        <table class="table table-bordered dataTable" id="tableac" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Duration</th>
                <th scope="col">Location</th>

            </tr>
            </thead>
            <tbody>
            {% for g in exercice %}
            <tr>
                <td >{{ g.name }}</td>
                <td >{{ g.duration }}</td>
                <td >{{ g.location }}</td>

                <td><div style="display: flex">

                        <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#updateModal{{ g.id }}" style="margin-right: 10px"><i class="nc-icon nc-settings"></i></button>

                        <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ g.id }}"><i class="nc-icon nc-simple-delete"></i></button>

                    </div>
                </td>
            </tr>
            <script>
                $(document).ready(function(){
                    $('#search').keyup(function(){
                        search_table($(this).val());
                    });
                    function search_table(value){
                        $('#tableac tbody tr').each(function(){
                            var found = 'false';
                            $(this).each(function(){
                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                {
                                    found = 'true';
                                }
                            });
                            if(found == 'true')
                            {
                                $(this).show();

                            }
                            else
                            {
                                $(this).hide();

                            }
                        });
                    }
                });
            </script>
            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal{{ g.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <br>
                            <h5 class="modal-title" id="exampleModalLabel">Voulez vous supprimer l'exercice' {{ g.name }}</h5>
                            <br>
                            <div style="text-align: center">
                                <a type="button" href="{{ path('delete_exercice', {'id':g.id}) }}" class="btn btn-danger">Supprimer</a>
                                <a type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</a>
                            </div>
                            <br>
                        </div>

                    </div>
                </div>
            </div>


            <!--  Update Modal -->
            <div class="modal fade" id="updateModal{{ g.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form method="post" action="{{ path('update_exercice', {'id':g.id}) }}" enctype="multipart/form-data">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modifier Exercice </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <br>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form__label">Name</label>
                                        <input type="text" maxlength="30" name="type" value="{{ g.name }}" class="form-control">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form__label">Duration</label>
                                        <input type="number"  name="duration" value="{{ g.duration }}" class="form-control">
                                    </div>
                                </div>
                                <br>

                                <br>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form__label">Location</label>
                                        <input type="text"  name="location" value="{{ g.location }}" class="form-control">
                                    </div>
                                </div>
                                <br>




                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Modifier</button>
                                    <button type="button" class="btn btn-secondary">Fermer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                {% endfor %}
            </div>
            </tbody>

        </table>
    </div>


    <!-- Add Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                {{ form_start(form, {'attr': {'enctype':'multipart/form-data'}}) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un nouvel exercice</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <br>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="form__label">Type</label>
                            {{ form_widget(form.name, {'attr': {'placeholder': 'name exercice', 'class':'form-control', 'type':'text'}}) }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="form__label">Duration</label>
                            {{ form_widget(form.duration, {'attr': {'placeholder': 'duration exercice', 'class':'form-control', 'type':'number'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="form__label">Location</label>
                            {{ form_widget(form.location, {'attr': {'placeholder': 'location exercice', 'class':'form-control', 'type':'text'}}) }}
                        </div>
                    </div>

                    <br>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}
