{% extends 'base_front.html.twig' %}


{% block content %}
    <section class="section breadcrumb-section" style="background-image: url({{ asset('front/images/image-10-1920x232.jpg') }})">
        <div class="container">
            <h2 class="breadcrumb-section-title">News 1</h2>
            <!-- Breadcrumb-->
            <div class="breadcrumb">
                <div class="breadcrumb-inner">
                    <div class="breadcrumb-item"><a class="breadcrumb-link" href="index.html">Home</a></div>
                    <div class="breadcrumb-item"><a class="breadcrumb-link" href="#">News</a></div>
                    <div class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">News 1</span></div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-md bg-transparent">
        <div class="container">
            <h3>Liste des coachs</h3>

            <div class="row">
                {% for n in coach %}

                    <div class="col-md-3" style="margin-bottom: 40px">
                        <!-- Post-->
                        <div class="post post-classic"><a class="post-media" href="#"><img class="post-img" src="{{ asset('uploads/' ~ n.image) }}" alt="" style="width: 200px;height: 200px; object-fit: cover">
                                <div class="post-tag tag tag-secondary">News</div></a>
                            <div class="post-body">
                                <div class="post-title h4"><a href="#"><span>{{ n.nom }}</span></a></div>
                                <div class="post-text">{{ n.prenom }}</div>
                                <div class="post-meta">
                                    <div class="post-date">{{ n.addr }}</div>
                                    <div class="post-date">{{ n.mail }}</div>
                                    <div class="post-date">{{ n.num }}</div>
                                </div>

                                <!-- Button to Open the Modal -->
                                <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal{{ n.mail }}">
                                    Contact
                                </button>
                            </div>
                        </div>

                    </div>
                    <!-- The Modal -->
                    <div class="modal" id="myModal{{ n.mail }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">contact</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <input type="text" min="1" max="60" name="mail_nut_env" id="mail_nut" value="{{ n.mail }}" class="form-control">
                                </div>
                                <div class="modal-body">

                                    <input type="text area" min="1" max="100" name="message"  class="form-control"  placeholder ="écrir votre message... "}}>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <div align="left" >

                                        <a type="button" href="{{ path('mailing') }}" class="btn btn-success"  class="btn btn-danger">Envoyer</a>


                                    </div>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



            </div>
        </div>
        </div>
    </section>



{% endblock %}